* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  max-width: 1130px;
  width: 95%;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

header,
main,
footer {
  width: 100%;
}

a {
  transition: color 0.2s ease;

  &:link,
  &:visited {
    color: rgba(#000, 0.65);
  }

  &:hover,
  &:active {
    color: rgba(#000, 0.95);
  }
}