body.dark {
  background-color: #323232;
  color: #fff;

  .logo {
    color: #000;
  }

  .kicker,
  button,
  footer p {
    color: #fff;
  }

  input {
    color: rgba(#fff, 0.9);
    border: 1px solid rgba(#fff, 0.1);
    border-bottom: 3px solid rgba(#fff, 0.5);

    &:focus {
      border-bottom-color: rgba(#fff, 0.85);
    }

    &::placeholder {
      color: rgba(#fff, 0.35);
    }
  }

  button {
    border-color: rgba(#fff, 0.5);
  }

  a {
    &:link,
    &:visited {
      color: rgba(#fff, 0.65);
    }

    &:hover,
    &:active {
      color: rgba(#fff, 0.95);
    }
  }

  p.input span.find {
    color: #323232;
  }
}