// Colors
$primary-color: #faff00;
$gray-color: rgba(#000, 0.65);
$toggle-background: rgba(#c4c4c4, 0.25);
$toggle-active-background: rgba($primary-color, 0.65);
$toggle-handler-color: rgba(#c4c4c4, 0.8);
$toggle-handler-active-color: rgba(#fff, 0.8);

// Toggle Variables
$toggle-width: 40px;
$toggle-height: 20px;
